<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/setting.css" />
        <link rel="stylesheet" href="/stylesheets/notice.css" />
        <link rel="stylesheet" href="/stylesheets/hotapi.css" />
        <link rel="stylesheet" href="/stylesheets/promotion.css" />
    </head>
    <body>
        <%- include ./header%> <%- include ./promotion%> <%- include ./notice%>
        <%- include ./hotapi%> <%- include ./footer%>
    </body>
</html>
